tqdm
pandas
future
joblib
pyyaml
sentencepiece
tb-nightly
torch>=1.2.0
torchaudio
ace_tools
seaborn
matplotlib
torchvision
torchaudio
tensorflow
tensorflow-gpu
transformers
nemo_toolkit
soundfile
lightning
onnx==1.14.1
einops
jiwer
librosa
pyannote.metrics
editdistance
datasets
pyannote.core
protobuf